<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.NumpicMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.Numpic">
    <!--@mbg.generated-->
    <id column="number" jdbcType="VARCHAR" property="number" />

    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="mark" javaType="INTEGER" property="mark"/>

  </resultMap>

  <resultMap id="BaseResultMap1" type="com.example.demo.model.Numpic">

    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="mark" javaType="INTEGER" property="mark"/>

  </resultMap>



  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `number`, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    *
    from numpic
    where `number` = #{number,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from numpic
    where `number` = #{number,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Numpic">
    <!--@mbg.generated-->
    insert into numpic (`number`, url)
    values (#{number,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Numpic">
    <!--@mbg.generated-->
    insert into numpic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        `number`,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Numpic">
    <!--@mbg.generated-->
    update numpic
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where `number` = #{number,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Numpic">
    <!--@mbg.generated-->
    update numpic
    set url = #{url,jdbcType=VARCHAR}
    where `number` = #{number,jdbcType=VARCHAR}
  </update>








  <sql id="Base_Column_List1">
    <!--@mbg.generated-->
    `number`, url,mark
  </sql>






  <select id="selectByMark" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List1" />
    from numpic
    where mark = #{mark}
  </select>


  <select id="selectAllByMarkOrder" resultMap="BaseResultMap" >
    select
    *
    from numpic
    order by mark
  </select>

  <update id="updateMarkByPrimaryKey" parameterType="com.example.demo.model.Numpic">
    <!--@mbg.generated-->
    update numpic
    set `url` = '#{url,jdbcType=VARCHAR}',
      `mark` = #{mark,javaType=INTEGER}
    where `number` = '#{number,jdbcType=VARCHAR}'
  </update>

  <select id="selectUrlByPrimaryKey" resultType="java.lang.String">
    select url
    from numpic
    where number = #{number,jdbcType=VARCHAR}
  </select>

  <select id="selectMarkByPrimaryKey" resultType="java.lang.Integer">
    select mark
    from numpic
    where number = #{number,jdbcType=VARCHAR}
  </select>





</mapper>