<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ParklotMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.Parklot">
    <!--@mbg.generated-->
    <!--@Table parklot-->
    <id column="no" jdbcType="INTEGER" property="no" />
    <result column="number" jdbcType="VARCHAR" property="number" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `no`, `number`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from parklot
    where `no` = #{no,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from parklot
    where `no` = #{no,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Parklot">
    <!--@mbg.generated-->
    insert into parklot (`no`, `number`)
    values (#{no,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Parklot">
    <!--@mbg.generated-->
    insert into parklot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="no != null">
        `no`,
      </if>
      <if test="number != null">
        `number`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="no != null">
        #{no,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Parklot">
    <!--@mbg.generated-->
    update parklot
    <set>
      <if test="number != null">
        `number` = #{number,jdbcType=VARCHAR},
      </if>
    </set>
    where `no` = #{no,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Parklot">
    <!--@mbg.generated-->
    update parklot
    set `number` = #{number,jdbcType=VARCHAR}
    where `no` = #{no,jdbcType=INTEGER}
  </update>

  <select id="selectAllNo" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from parklot
    where number is NULL
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from parklot
  </select>


</mapper>